.search{
    min-height: 85vh;
    position: absolute;
    top: 60px;
    width: 100%;
}
.dropdown{
    width: 100%;
    text-align: left;
}
.dropdown-menu{
    width: 80%;
}
.carousel .control-dots .dot{
    background-color: #a7a7a7;
}
.ciran{
    width: 19vw;
    position: absolute;
    top: 40px;
    left: 4%;
}
.gorg{
    width: 26vw;
    position: absolute;
    top: 330px;
    left: 38%;
    transform: rotate(-10deg);
    height: 230px;
}
.nur3{
    width: 19vw;
    position: absolute;
    top: 40px;
    right: 4%;
}
.duduk{
     width: 4.5vw;
     position: absolute;
     top: 230px;
    right: 10%;
    transform: rotate(30deg);
}

.kamancha{
    width: 15vw;
    position: absolute;
    top: 230px;
    left: 4%;
    transform: rotate(-30deg);
}