.registration{
     min-height: 85vh;
     /*border: 2px solid red;*/
     position: absolute;
     top: 70px;
     width: 100%;
 }
.gender {
     position: absolute;
     left: 0;
     top: 7px;
}
.colSize {
     margin: 0 auto;
}
.colSize input{
     width: 100%;
     border-radius: 10px;
     outline: none;
}
.colSize span{
     color: #ffa1a0;
}
