.login {
    min-height: 75vh;
    position: relative;
    margin-bottom: 80px;
    top: 80px;
    width: 100%;
}
.colSize {
    margin: 0 auto;
}
.colSize input{
    width: 100%;
    border-radius: 10px;
    outline: none;
}
.colSize span{
    color: #ffa1a0;
}