.login {
    /*position: absolute;*/
    /*margin-top: 20vh;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
    min-height: 85vh;
    /*border: 2px solid red;*/
    position: absolute;
    top: 70px;
    width: 100%;
}
/*.loginForm {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
/*}*/
/*.row {*/
    /*margin-top: 20px;*/
/*}*/
/*.col-75 {*/
    /*margin: 0 auto;*/
/*}*/
/*.loginInput {*/
    /*padding: 6px;*/
    /*border: 1px solid grey;*/
    /*border-radius: 4px;*/
/*}*/
/*.loginBtn {*/
    /*position: relative;*/
    /*left: 61%;*/
    /*padding: 2px 10px;*/
    /*border: 1px solid grey;*/
    /*border-radius: 4px;*/
/*}*/
.colSize {
    margin: 0 auto;
}
.colSize input{
    width: 100%;
    border-radius: 10px;
    outline: none;
}
.colSize span{
    color: #ffa1a0;
}