.timg{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px auto 10px;
}
.timg:hover{
    transform: scale(1.02, 1.02);
    box-shadow: 0 0  10px black;
    cursor: pointer;
}
.descr{
    padding: 20px;
    border-bottom: 3px solid #e5e5e5;
}
.like{
    position: absolute;
    right: 50px;
}
