.navigation{
    position: fixed;
    z-index: 2;
}
.navbar-toggler{
    float: right;
}
.logo{
    width: 80px;
    float: left;
}
/*.link{*/
    /*color: #606060;*/
    /*font-size: 20px;*/
/*}*/
/*a{*/
    /*text-decoration: none;*/
/*}*/
/*.link:hover{*/
    /*background-color: #606060;*/
    /*color: #e6e6e6;*/
/*}*/