.likeNum{
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 20px;
}
.likeBtn{
    width: 51px;
    height: 41px;
}
.likeImg {
    position: absolute;
    right: 20px;
    top: 15px;
}