.header{
    position: relative;
    margin-bottom: 80px;
    width: 100%;
    height: 190vh;
    top: 80px;
}
.video-component {
    position: relative;
    width: 100% !important;
    height: 100vh !important;
}