*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vernagrer{
  font-size: 40px;
  color: gray;
  margin: 20px;
}
.entaVernagir{
  margin: 15px;
  font-size: 30px;
  text-align: center;
}
.carousel {
  position: relative;
  height: 350px;
  border: 1px solid;
}
.border1{
    border: 1px solid #dadada;
    padding: 10px;
    height: 450px;
    border-radius: 10px;

}
.border1:hover{
    transform: scale(1.02, 1.02);
    box-shadow: 0 0  10px black;
}